.banner {
    background: var(--color-gradient);
    color: var(--color-white);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__title {
    font-size: 18px;
    font-weight: 700;
}

.banner__text {
    font-weight: 500;
    margin: 1em 0;
}

.banner__search {
    background-color: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner__search::placeholder {
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--color-white);
    background: url(../assets/Magnifier.svg) no-repeat;
    background-position: 2em;
}

@media screen and (min-width: 1024px) {
    .banner__title {
        font-size: 36px;
    }

    .banner__search {
        width: 40%;
    }

    .banner__search::placeholder {
        background-position: 4em;
    }
}

@media screen and (min-width: 1728px) {
    .banner__search {
        width: 30%;
    }

    .banner__search::placeholder {
        background-position: 10em;
    }

    .banner {
        padding: 5em 0;
    }
}