.contact {
    background-color: var(--color-white);
    padding: 1em;
}

.contact__title {
    background: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 18px;
    font-weight: 600;
}

.contact__text {
    background: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 300;
    margin: 1em 0;
}

.contact__email {
    padding: 1em;
    border: 1px solid var(--color-blue);
    border-radius: 20px;
    width: 90%;
    color: var(--color-blue);
}

.contact__email::placeholder {
    font-family: var(--font-main);
    color: var(--color-blue);
    background: url(../assets/Email.svg) no-repeat;
    padding-left: 2.5em;
}

@media screen and (min-width: 1024px) {
    .contact {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact__title {
        font-size: 24px;
        width: 80%;
    }

    .contact__email {
        width: 30%;
    }

    .contact__description {
        margin-right: 1em;
    }
}


@media screen and (min-width: 1728px) {
    .contact {
        padding: 3em 20vw;
    }
}