.header__menu {
    width: 24px;
    height: 24px;
    background-image: url(../assets/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__button:checked~.container__label>.header__menu {
    background-image: url(../assets/Openmenu.svg);
}

.container__button:checked~.container__label {
    background: var(--color-gradient);
}

.header__main {
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__image {
    padding: 1em;
}

.list-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__button:checked~.list-menu {
    display: block;
}

.list-menu__title,
.list-menu__item {
    padding: 1em;
    background-color: var(--color-white);
}

.list-menu__title {
    color: var(--color-orange);
    font-weight: 700;
    font-style: normal;
}

.list-menu__link {
    background: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__button {
    display: none;
}

.container__title {
    display: none;
}

.option {
    display: none;
}

.container__text {
    display: none;
}

@media screen and (min-width: 1024px) {

    .container__title,
    .container__title--negrito {
        font-family: var(--font-secondary);
        font-size: 30px;
    }

    .container__title {
        font-weight: 400;
        display: block;
    }

    .container__title--negrito {
        font-weight: 700;
    }

    .option {
        display: flex;
    }

    .option__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .option__link {
        text-decoration: none;
        color: var(--color-black);
    }

    .container__image-transparent {
        display: none;
    }

    .header__menu {
        display: none;
    }

    .option__button:checked~.list-menu {
        display: block;
        width: auto;
    }

    .option__button {
        display: none;
    }

    .option__button:checked~.option__label>.option__item {
        background: var(--color-gradient);
        color: var(--color-white);
    }

    .option__item {
        padding: 2em 1em;
    }

    .list-menu__item:hover {
        background: var(--color-gradient);
    }

    .list-menu__item:hover>.list-menu__link {
        -webkit-text-fill-color: var(--color-white);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--color-black);
    }

    .header__main {
        padding: 0 3em;
    }

    .option {
        margin-right: auto;
        margin-left: 2em;
    }

    .container__text {
        display: block;
    }
}