.topics {
    background: var(--color-gradient);
    text-align: center;
    padding: 1.5em 0;
}

.topics__title {
    color: var(--color-white);
    font-weight: 300;
    margin-bottom: 1em;
}

.topics__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topics__item {
    margin: 1.5em 1em;
}

.topics__link {
    color: var(--color-white);
    padding: 1em;
    background-color: var(--color-orange);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .topics__title {
        font-size: 24px;
    }

    .topics__link {
        font-size: 24px;
    }

    .topics__item {
        margin: 2em 0.5em;
    }
}

@media screen and (min-width: 1728px) {
    .topics {
        padding: 3em 30vw;
    }
}